* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

}

#image_cont {

	float: left;
	position: absolute;
	left: 50%;
	top: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%);

}

#medi {

	display: block;
	margin: 0 auto;
	float: left;
	position: relative;

}

#blocks {

	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;

	transition: 0.5s;

	&:hover {

		opacity: 1;

	}

}